@import url('https://fonts.googleapis.com/css2?family=UnifrakturMaguntia&display=swap');



body{
    color:#000080;
    background-color:#4169E1;
    margin: 0px;
    margin-bottom: 100px;
    font-family:  "UnifrakturMaguntia",cursive;
    } 
    
header{
border-bottom: solid 2px #000080; 
margin: 20px;
font-size: 32px;
color: black;
}

section{
padding-bottom: 80px;
padding-top:80px;
background:#4169E1;
display: flex;
justify-content: center;
}
    h1{
    color:#adadfa;
    font-size: 40px;
    }
    p{
        font-size: 20px;
    }
    .categoria{

padding-left: 20px;
padding-right: 20px;

}

.categoria-videos {
    display: flex;
    overflow-x: auto;
    gap: 10px;
}

img{

    height: 200px;
}

.categoria-videos img{

    opacity: 0.5;
    height: 200px;
}

.categoria-videos img:hover{

opacity:1.0;
border: 3px solid #9932CC;

}

.categoria h2{
color:#4169E1;

}


.chamada-texto{
    margin-right: 1%;
    text-align: center;
    padding: 20px;
    background-color: #08034e;
    color:#adadfa; 
}